* {padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
  font-family: sans-serif;
}



/* Header and Navigation */

header img {
	max-width: 100%;

  padding: 2em 4em 1em 4em;
}

header nav ul	{list-style-type: none;
	text-align: center;
	justify-content: space-evenly;
	padding: .5em;
	}

header nav li {text-transform: uppercase;
        font-weight: bold;
      padding: 0 0 1em 0;}
header nav li a {color: #008376}

header nav {background-color: #ffffff;}

header nav a {color: black;
	text-decoration: none;}

header section ul	{
	background-color: rgb(214,152,105);
	text-align: center;
	justify-content: space-evenly;
	padding: .5em;
	font-size: 80%;}




/* Body */

.row1{background-image: url("images/background.jpg");
background-size: cover;
}
.row1 img{max-width: 40%;
  margin: 1em 0em 1em 6.5em;}


.row1 h1{color: #fdb52b;
font-size: 200%;
margin: 0em 0em 1em 0em;
 }
.row1 h2{color: white;
font-size: 100%;
}

.row2 h2, .row3 h2{font-size: 100%;
}

.row1 .box-left{text-align: center;
	padding: 3em;}

.row2 img{max-width: 100px;}

.row2 .box-left{text-align: center;
	padding: 3em;}

.row2 .box-right{text-align: center;
	padding: 3em;}

.row3 img{max-width: 100px;}

.row3 .box-left{text-align: center;
		padding: 3em;}

.row3 .box-right{text-align: center;
		padding: 3em;}

.row4 {border-top: 4px solid #008376;}

.row4 h1{color: #fdb52b;
font-size: 200%;
margin: 1em 0em .5em 0em;
text-align: center;}

.row4 h2{text-align: center;
font-size: 100%;}



.row4 h2 {margin: 1em 2em 5em 2em}







/* Footer */

footer img {
	max-width: 100%;

  padding: 2em 4em 1em 4em;
}

footer nav ul	{list-style-type: none;
	text-align: center;
	justify-content: space-evenly;
	padding: .5em;
	}

footer li {text-transform: uppercase;
        font-weight: bold;
      padding: 1em 0 2em 0;}
footer li a {color: white}

footer {background-color: #008376;
padding: 0 0 3em 0;}

footer a {color: black;
	text-decoration: none;}

footer ul	{
	text-align: center;
	justify-content: space-evenly;
	padding: .5em;
	font-size: 50%}


footer div {font-size: 180%;
	padding: 1em 0 1em 0;
}


















@media screen and (min-width: 1000px){
	nav ul{
		display:flex;
		justify-content: space-evenly;
		padding: 2em;}
  header nav {display:flex;
    justify-content: space-evenly;
    }
  nav li{margin: 4em 4em 1em 0;
  }
  header img {
	width: 70%;
  padding: 2em 4em 1em 2em;
  margin: 0 0 -.5em 3em;}




			.row1 {display: flex;
			justify-content: space-around;}
			.row1 img {width:800px;
			float: right;
		margin: 2em 12em 2em 0em;}
			.row1 .box-left{padding: 2em 0em 2em 12em;}
			.row1 h1 {font-size: 200%;
			margin: 2em 0 1em .5em;}
			.row2 {display: flex;
			justify-content: space-evenly;}
			.row3 {display: flex;
					justify-content: space-evenly;}
			.row3 .box-left {margin: 0 0 0 2.7em;}
			.row3 .box-right {margin: 0 0 0 2.7em;}
			.row4 h2 {margin: 1em 15em 5em 15em}




  footer img {
  width: 70%;
  padding: 2em 4em 1em 2em;
  margin: 0 0 -.5em 3em;}

	footer li{display:block;
  }

	footer ul{display:flex;
		justify-content: space-evenly;
	}




}
